@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/static/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/static/Roboto-Bold.ttf");
    font-weight: 700;
}

:root {
    --white: hsl(0, 100%, 100%);
    --grey-500: hsl(217, 12%, 63%);
    --grey-550: hsl(218, 9%, 24%);
    --grey-900: hsl(213, 19%, 18%);
    --grey-925: hsla(230, 9%, 13%, 0.603);
    --grey-950: hsl(216, 12%, 8%);
    --accent-color: hsl(25, 97%, 53%);

    --font-default: "Roboto", Arial, Helvetica, sans-serif;
    --font-default: Arial, Helvetica, sans-serif;
    --font-size-txt: 15px;
}

/* ===== RESET ===== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}

html {
    font-family: var(--font-default);
    line-height: 1.5;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100dvh;
    height: 100vh;
    padding: 0 2rem;
    background-color: var(--grey-950);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating {
    width: clamp(20rem, 17.143rem + 14.29vw, 30rem);
    min-height: 20rem;
    padding: 1.5rem;
    background: radial-gradient(
            circle at top,
            hsl(215, 8%, 29%) 0%,
            var(--grey-900) 70%
        );
    background-size: 100% 200%;
    background-position: 0% 100%;
    border-radius: 20px;
}

/* ====== RATING FORM ====== */
.rating__form {
    display: flex;
    /* display: none; */
    flex-direction: column;
    gap: 1.5rem;
}

.rating__form.rating__form--hide {
    display: none;
}

.rating__icon-wrapper {
    --wh-size: 2.65rem;

    width: var(--wh-size);
    height: var(--wh-size);
    border-radius: 50px;
    background-color: var(--grey-550);

    display: flex;
    justify-content: center;
    align-items: center;
}

.rating__title,
.rating__result-title {
    font-weight: 700;
    font-size: 2rem;
    color: var(--white);
}

.rating__description,
.rating__result-text {
    font-weight: 400;
    font-size: 1rem;
    color: var(--grey-500);
}

/* ----- FEEDBACK ----- */
.rating__scale {
    display: flex;
    justify-content: space-between;
}

.rating__scale-item {
    --wh-size: clamp(2.8rem, 2.575rem + 1.03vw, 3.5rem);
    
    min-width: var(--wh-size);
    min-height: var(--wh-size);

    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rating__scale-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.rating__scale-label {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--grey-550);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.3rem;
    color: var(--white);
    
    cursor: pointer;
    transition: all .2s ease;
}

.rating__scale-label:hover {
    background: var(--accent-color);
    color: var(--white);
}

.rating__scale-input:checked + .rating__scale-label{
    background: var(--white);
    color: var(--grey-950);
}

.rating__scale-input:focus-visible+.rating__scale-label {
    outline: 3px solid var(--accent-color);
    outline-offset: 3px;
}


/* ----- SUBMIT BUTTON ----- */
.rating__submit {
    display: inline;
    padding: 1rem 0;
    border-radius: 50px;
    background-color: var(--accent-color);
    
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--grey-950);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3rem;

    cursor: pointer;
}

.rating__submit:hover {
    background-color: var(--white);
    transition: all .1s ease;
}

.rating__submit:focus-visible {
    outline: 3px solid var(--accent-color);
    outline-offset: 3px;
    background-color: var(--white);
    transition: all .1s ease;
}

/* ===== RATING RESULT ===== */

.rating__result {
    height: 100%;
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.rating__result.rating__result--show {
    display: flex;
}

.rating__result-info {
    padding: .5rem 1rem;
    border-radius: 50px;
    background-color: var(--grey-550);
    color: var(--accent-color);
}

.rating__result-text {
    text-align: center;
}

/* ===== ATTRIBUTION ===== */

.attribution {
    text-align: center;
    margin-top: 1.5rem;
    font-size: .8rem;
    color: var(--white);
}

.attribution a {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: hsl(228, 50%, 62%);
}

.attribution a:focus-visible {
    outline: solid 2px var(--accent-color);
    outline-offset: 2px;
}